.show_control_icon .carousel-control-next-icon {
  background-image: url(../../images/right-arrow.png);
  width: 24px;
  height: 24px;
}
.show_control_icon .carousel-control-prev-icon {
  background-image: url(../../images/right-arrow.png);
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}
.show_control_icon .carousel-control-next-icon::after,
.show_control_icon .carousel-control-prev-icon::after {
  display: none;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slider_text_animation {
  animation: 2s ease-out slideInFromRight;
}
.slider_image_animation {
  animation: 2s ease-out slideInFromLeft;
}
