.logo {
  letter-spacing: 12.5px;
}
.logo_f_letter {
  color: rgb(71, 165, 222);
}
.logo_s_letter {
  color: #f55c4a;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgb(71, 165, 222) !important;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #f55c4a !important;
}
