.carousel-caption {
  text-align: left;
  bottom: 43%;
}
.home_slider h2 {
  font-size: 75px;
  letter-spacing: 1.5px;
}
.home_slider p {
  color: #414141;
  font-size: 20px;
}
.home_slider a {
  color: #f55c4a;
  border-color: #f55c4a;
  border-radius: 50px;
  letter-spacing: 1.5px;
}
.home_slider a:hover {
  background-color: #f55c4a;
  color: #fff;
  border-color: #f55c4a;
}
